.header {
    background-color: #131921;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__logo:hover {
    cursor: pointer;
    outline: 1px solid white;
}

.header__searchForm {
    display: flex;
    width: 60vw;
    margin-left: 20px;
    margin-right: 20px;
}

.header__searchButton {
    background-color: rgb(243, 188, 6);
    width: 50px;   
    height: 40px; 
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__searchButton:hover {
    background-color: rgb(240, 161, 15);
}

.header__searchSelect {
    height: 40px;
    background-color: rgb(233, 233, 233);
    color: rgb(117, 117, 117);
    outline: 0;
    padding: 5px;
    width: 50px;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

.header__searchSelect:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}

.header__searchInput {
    width: 100%;
    border: 0;
}

.header__rightNav {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
    height: 40px;
    margin-right: 20px;
}

.header__link{
    text-decoration: none;
    color: white;
    padding: 0px 20px 0px 20px;
    padding-top: 5px;
}

.header__link:hover {
    cursor: pointer;
    outline: 1px solid white;
}

.header__option {
    display: flex;
    flex-direction: column;
}
.header__basketOption {
    display: flex;
    padding-top: 5px;
}

.header__optionLine1 {
    font-size: 12px;    
}

.header__optionLine2 {
    font-size: 15px;
}

.header__basketCount {
    display: flex;
    align-items: center;
}