.header {
    background-color: #131921;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header__logo {
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__logo:hover {
    cursor: pointer;
    outline: 1px solid white;
}

.header__searchForm {
    display: flex;
    min-width: 60vw;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.header__searchActive {
    box-shadow: 0 0 0 2pt rgb(240, 169, 15);
}

.header__searchButton {
    background-color: rgb(243, 188, 6);
    width: 50px;   
    height: 40px; 
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__searchButton:hover {
    background-color: rgb(240, 161, 15);
}

.header__searchSelect {
    height: 40px;
    background-color: rgb(233, 233, 233);
    color: rgb(117, 117, 117);
    outline: 0;
    padding: 5px;
    width: 50px;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

.header__searchSelect:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}

.header__searchInput {
    width: 100%;
    border: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header__searchInput:focus {
    outline: 0;
}

.header__rightNav {
    display: flex;
    height: 40px;
}

.header__link{
    text-decoration: none;
    color: white;
}

.header__option {
    padding: 5px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 40px;
}
.header__option:hover, .header__basketOption:hover {
    cursor: pointer;
    outline: 1px solid white;
}

.header__basketOption {
    display: flex;
    margin: 0px 20px 0px 10px;
    height: 40px;
    align-items: center;
    padding: 5px 10px 0px 10px;
}

.header__optionLine1 {
    font-size: 12px;   
    white-space: nowrap; 
}

.header__optionLine2 {
    font-size: 15px;
    white-space: nowrap;
}

.header__basketCount {
    display: flex;
    align-items: center;
}